/*
Contents
================================
1. Shared Styles
  a. Fonts
  b. Extends
2. Header Section
3. Entries
  a. Pagination
  b. Post Style
4. Footer
================================
*/

// 1. Shared Styles {{{
// --------------------------------------------------
// Common {{{
body{
  background-color: rgb(134, 165, 76);
}

main.container, main.content > .container{
  width:58em;
}

hr{
  border-top: 1px solid lighten($grayLight, 20%);
  border-bottom: none;
}

blockquote{
  border-left: 5px solid #D8D8D8;
  background-color: #eee;
	color: $grayLight;
}

::-moz-selection{
  color: #fff;
  text-shadow: none;
  background: #778da8;
}

::selection{
  color: #fff;
  text-shadow: none;
  background: #778da8;
}
// }}}

// 1.a Font {{{
// --------------------------------------------------
// Fonts used as titles
@font-face{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(http://themes.googleusercontent.com/static/fonts/raleway/v6/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
  unicode-range: U+00-024F;
}

@font-face{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Sans');
  unicode-range: U+4E00-9FFF;
}

// Fonts used as texts
@font-face{
  font-family: 'Texts';
  font-style: normal;
  font-weight: 400;
  src: local('Georgia'), local('Times'), local('Serif');
  unicode-range: U+00-024F;
}

@font-face{
  font-family: 'Texts';
  font-style: normal;
  font-weight: 400;
  src: local('Sans');
  unicode-range: U+4E00-9FFF;
}
// }}}

// 1.b Extends {{{
// --------------------------------------------------
.a-hover{
  color: $grayDark;
  @include transition(0.3s linear);

  &:hover{
    color: $grayDark;
    text-decoration:none;
    @include opacity(50);
  }
}

// Custom styles for code highlight by pygments
.highlight{

  .lineno{
    color: #BEBEBE;
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #BEBEBE;
  }

  pre code{
    display: block;
    white-space: pre;
    overflow-x: auto;
    word-wrap: normal;
  }
}
// }}}
// }}} End of 1.Shared Styles

// 2. Header Section {{{
// --------------------------------------------------
.content{
  background-color: #f9f7f4;

  & > .container{
     min-height: 58em;
  }
}

.content {

  h1{
    font-family: 'Raleway';
    text-transform: uppercase;
    font-weight: normal;
    font-size: 4.1em;
    margin-top: 1em;
    letter-spacing: 0.04em;
    color: $greenSpotify;
  }

  .sub-title{
    font-family: 'Raleway';
    font-size: 1.8em;
    margin: 0.8em 0 3em;
    color: $grayLight;
  }
}
// }}} End of 2. Header Section

// 3. Entries {{{
// --------------------------------------------------
.entries{

  list-style: none;
  margin:2em 0 0;

  p{
    text-indent: 2em;
  }

  li{
    border-bottom: 1px solid lighten($grayLight, 20%);
    margin-bottom: 3em;
    padding-bottom: 2.2em;
  }

  time{
    font-size: 1.1em;
    letter-spacing: 0.1em;
    float: right;
    margin-top: -1.9em;
    color: $gray;
  }

  h3{
    font-family: 'Raleway';
    color: $greenSpotify;
    font-weight: normal;
    font-size: 2em;
    margin-top: 0.2em;
    @extend .a-hover;
  }

  a{
    @extend .a-hover;
  }

  div{
    font-family: 'Texts';
    line-height: 1.6em;
    font-size: 1.15em;
    color: $gray;
  }
}

// 3.a Pagination {{{
// --------------------------------------------------
.pages{
  list-style: none;
}

.next{
  float: right;
  margin-top: -2em;
}

.prev{
  float: left;
}

#post-pagination{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 3em;
}
// }}}

// 3.b Post Style {{{
// --------------------------------------------------
.home-icon{
   font-size: 2em;
   margin: 1.5em 0 -1.1em 1em;
   float: left;
   background-color: $greenSpotify;
   padding: 0.65em;
   @include border-radius(2em);

   a{
    @extend .a-hover;
    color: $white;
   }
}

// Custom <hr> at the end of every post.
hr.endofpost{
  font-family: Arial, sans-serif;
  text-align: center; /* horizontal centering */
  line-height: 1px; /* vertical centering */
  height: 1px; /* gap between the lines */
  font-size: 1em; /* choose font size you like */
  border-width: 1px 0; /* top and bottom borders */
  border-style: solid;
  border-color: #CCCCCC;
  margin: 20px 0px; /* 20px space above/below, 0px left/right */

  /* ensure 1px gap between borders */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box;
}

hr.endofpost:after{
  content: "§"; /* section sign */
  color: #999;
  background-color: #F9F7F4;
  display: inline; /* for vertical centering and background knockout */
  padding: 0 0.5em; /* size of background color knockout */
}

.post{
  width: 48em;
  float: right;
  margin-top: -2em;

  h5{
    margin:0.4em 0 2.5em 0;
    font-weight: normal;
    letter-spacing: 0.1em;
    padding-bottom: 1.1em;
    border-bottom: 1px solid lighten($grayLight, 20%);
  }

  h2{
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 4em;
    padding: 1.1em 0 0.2em;
    letter-spacing: 0.05em;
    color: $greenSpotify;

    span{
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }

  section{
    font-family: 'Texts';
    line-height: 1.9em;
    font-size: 1.15em;
    color: lighten($gray, 10%);
  }

  p{
    margin: 0 0 20px;
    text-indent: 2em;
  }

  li p{
    line-height: 1.9em;
  }

  .footnotes{

    li{
      font-size: 0.8em;

      p{
        font-size: 0.8em;
        line-height: 1em;
        margin: 0 0 5px;
      }
    }

    a{
      border-bottom: 1px dotted rgba(162,162,162,0.8);
    }
  }
}
// }}}
// }}} End of 3. Entries

// 4. Footer {{{
// --------------------------------------------------
footer .container{
  color: $white;
  padding: 2em 0;
  font-size: 0.8em;
  text-align: center;

  a{
    color: $white;
    text-decoration: underline;
  }
}
// }}}
